.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}

.card {
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-content {
  margin-bottom: 16px;
}

.card-footer {
  margin-top: auto;
}

.card-image {
  max-width: 100%;
  width: 100%;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image img {
  width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

}

.card h2 {
  font-size: 16px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número máximo de líneas */
  -webkit-box-orient: vertical;
}

.card p {
  font-size: 14px;
  margin-bottom: 4px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  /* width: 100%; */
  padding: 8px;
  font-size: 16px;
  margin-left: 8px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.pagination button {
  margin: 0 4px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.header h1 {
  margin-right: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
